/* --- PORTFOLIO SECTION --- */
.portfolio-section {
    padding: 6rem 2rem 6rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.portfolio-img-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto 0;
}

.portf-img {
    width: 70%;
    margin: auto;
    height: auto;
    display: block;
}


@media (max-width: 768px) {
    .portfolio-section {
        padding: 4rem 0.5rem;
    }
    .portf-img {
        width: 100%;
    }
}